{% extends "base.html" %} 
{% block title %}Главная{%endblock %} 
{% block content %}

<main>
    <section class="container my-5 px-4">
      <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
      <p class="text-center my-4">
        Загрузите файлы и получите на них короткие ссылки
      </p>
      
      <div class="container">
        <div class="row my-3">
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <form method="POST" novalidate enctype="multipart/form-data">
              {{ form.csrf_token }}
              {{ form.files(class="form-control form-control-lg py-2 mb-3", placeholder=form.files.label.text) }}
              {{ form.submit(class="btn btn-primary") }}
            </form>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm">
            {% if pairs %}
            <table class="table">
              <tbody>
                {% for pair in pairs %}
                <tr>
                  <td class="text-nowrap w-75">{{ pair.filename }}</td>
                  <td class="text-end text-nowrap w-25">
                    <a href="{{ pair.url }}">{{ pair.url }}</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
          <div class="col-sm"></div>
        </div>
      </div>

    </section>
  </main>
{% endblock %}